[submodule "LANP2PText"]
	path = LANP2PText
	url = https://github.com/Astramast/LANP2PText.git
[submodule "WANServerText"]
	path = WANServerText
	url = https://github.com/Astramast/WANServerText
[submodule "WANClientText"]
	path = WANClientText
	url = https://github.com/Astramast/WANClientText
